:root {
    /**
    * Color
    */
    --Main-Background: #000; /* Old color 2f3339 */
    --Second-Background: #000000ef; /* Old color efeeff */
    --onyx: hsl(240, 1%, 17%);
    --orange-yellow-crayola: #58007a;
    --text: #fefefe;

}

* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: var(--Second-Background);
    background-size: cover;
}

::selection {
    background: #ddaaff;
    text-shadow: none;
    color: #000
}

.nav {
    height: 90px;
    background: var(--Main-Background);
}

.header {
    background: var(--Main-Background);
    background-position: center;
    background-size: cover;
    height: 580px;
}

.logo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.logo h3 {
    color: white;
    padding-top: 20px;
    padding-left: 5px;
}

.logo a {
    color: white;
}

.logo {
    display: flex;
    background-color: var(--Main-Background);
    float: left;
    margin-top: 10pc;
}

.text-name {
    padding-bottom: 1%;
}

.text-title {
    padding-top: 7%;
    font-size: 200%;
    color: white;
}

.former {
    display: flex !important;
    gap: 250px;
}

.btn {
    position: static;
    left: 100px;
    padding-top: 2%;
    padding-bottom: 7%;
    color: #525251;
}

.btn2 {
    margin-right: 10px; /* Add margin between buttons */
    position: static;
    left: 100px;
    padding-top: 2%;
    padding-bottom: 7%;
    color: #fff
}

.btn button {
    background-color: #EFEEFF;
    border: none;
    color: #525251;
    padding: 20px 31px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 50px;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: .3s;
}

.btn2 button {
    margin: 50%;
    width: 130%;
    background-color: var(--Main-Background);
    border: none;
    color: #ddaaff;
    padding: 20px 31px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 50px;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: .3s;
}

.btn a {
    color: #525251;
    font-size: xx-large;
}

.btn2 a {
    color: #ddaaff;
    font-size: xx-large;
}

.btn button:hover {
    background-color: #ddaaff;
    padding: 18px 28px;
    margin: 2px 1px;
}

.btn2 button:hover {
    background-color: #ddaaff;
    padding: 18px 28px;
    margin: 2px 1px;
}

.btn button:hover a {
    color: #2e2e2e;
    font-size: xx-large;
}

.btn2 button:hover a {
    color: #2e2e2e;
    font-size: xx-large;
}

.btn2 {
    display: inline-block !important; /* Display buttons inline */
    margin-right: 10px !important; /* Add margin between buttons */
}

.recently {
    padding-top: 3%;
    padding-left: 2%;
    font-size: 300%;
    color: var(--text);
    font-size: 400%;
    font-weight: 300;
    border-bottom: solid var(--text) 2px;
}

.recently2 {
    padding-top: 3%;
    padding-left: 2%;
    font-size: 300%;
    margin-top: -45px;
    color: var(--text);
    font-size: 400%;
    font-weight: 300;
    border-bottom: solid var(--text) 2px;
}

.has-scrollbar::-webkit-scrollbar {
    width: 5px; /* for vertical scrollbar */
    height: 5px; /* for horizontal scrollbar */
  }
  
  .has-scrollbar::-webkit-scrollbar-track {
    background: var(--onyx);
    border-radius: 5px;
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--orange-yellow-crayola);
    border-radius: 5px;
  }
  
  .has-scrollbar::-webkit-scrollbar-button { width: 20px; }
  
/* GALERY */

li {
    list-style: none;
}

.galery { 
    margin-bottom: 15px; 
    max-width: 100%;
}
  
.h250 {
    max-height: 250px !important;
}
.galery-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px;
  padding-bottom: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 25px;
}

.galery-item {
  min-width: 50%;
  scroll-snap-align: start;
}


.galery-item img:hover { filter: grayscale(0); }


@media (min-width: 1024px) {
    .galery-item {
        min-width: calc(25% - 38px);
    }
}

@media (min-width: 768px) {
    .has-scrollbar::-webkit-scrollbar-button { 
        width: 100px; 
    }

}


@media only screen and (max-width: 600px) {
    .nav {
        padding-top: 15%;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--Main-Background);
        margin-top: 10px; /* Adjust margin as needed */
    }
    
    .logo img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
    }
    
    .header {
        padding: 20px; /* Add padding to create space */
    }
    
    .logo {
        margin-bottom: 20px; /* Add margin to create space between the logo and text */
    }
    
    .text-title {
        font-size: 20px;
        padding-top: 20%;
        padding-bottom: 10%;
    }
    .text-title p {
        padding-top: 3%;
    }

    .text-name {
        padding-bottom: 3%;
    }

    .header {
        height: auto;
    }
    .galery {
        width: calc(450px * 4 + 8px * 4); /* Width of four images plus margins */
        white-space: nowrap; /* Prevent wrapping of items */
    }

    .last {
        padding-bottom: 10%;
    }

    .pic {
        width: 100%; /* Ensure images take full width on small screens */
        max-width: 450px; /* Set maximum width for small screens */
    }
    .galery {
        max-width: 100%;
    }
    .galery-list {
        margin: 0 0;
    }
    .galery-item {
        margin-left: 15%;
        width: 45px;
    }
    .former {
        display: block !important;
        gap: 250px;
    }
    .btn2 {
        position: unset !important;
        display: -webkit-flex !important;
        width: 70%;
    }
}

@media (min-width: 580px) {
    .galery-list {
        gap: 50px;
        margin: 0 -30px;
        padding: 45px;
        scroll-padding-inline: 45px;
    }
}

/* Quick settings */
.center-x {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-y {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-text {
    text-align: center;
}

.pl-5 {
    padding-left: 5%;
}