@import url("../css/styles.css");

/*CSS*/

.timer {
    font-size: 20px;
    font-weight: bold;
    padding-top: 18%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.timer span {
    margin: 0 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}